dev:
  # The DynamoDB table to store quests
  QUESTS_TABLE_NAME: quest-bank_quests

  # The DynamoDB table to store user settings
  USER_SETTINGS_TABLE_NAME: quest-bank_user-settings

  # Verification token
  SLACK_VERIFICATION_TOKEN: "xxxxxxxx"
  
  # Client ID - quotes required
  SLACK_CLIENT_ID: "xxxxxxxx.xxxxxxxx"
  
  # Client Secret - quotes required
  SLACK_CLIENT_SECRET: "xxxxxxxx"